[2012-02-26 17:00] avsm opened #1 "ocaml-github regression test"
and i guess it worked!

[2012-02-26 17:02] avsm opened #2 "ocaml-github regression test"
and i guess it worked!

[2012-02-26 17:05] avsm opened #3 "ocaml-github regression test"
and i guess it worked!

[2012-02-26 17:07] #1 closed, assigned to avsm

[2012-02-26 17:14] #2 closed, assigned to avsm

[2012-02-26 17:14] #3 closed, assigned to avsm

[2012-08-31 22:48] avsm opened #4 "ocaml-github regression test with v2-interface"
and i guess it worked!

[2012-08-31 22:49] #4 closed, assigned to avsm

[2012-08-31 23:17] avsm opened #5 "ocaml-github regression test with v2-interface"
and i guess it worked!

[2012-09-01 05:53] avsm opened #6 "ocaml-github regression test with v2-interface"
and i guess it worked!

[2012-09-02 01:56] avsm opened #7 "ocaml-github regression test with v2-interface"
and i guess it worked!

[2012-09-02 02:06] avsm opened #8 "ocaml-github regression test with v2-interface"
and i guess it worked!

[2012-09-02 04:09] avsm opened #9 "ocaml-github regression test"
ocaml-github body

[2012-09-02 17:04] avsm opened #10 "ocaml-github regression test"
ocaml-github body

[2012-09-02 17:06] #5 closed, assigned to avsm

[2012-09-02 17:06] #6 closed, assigned to avsm

[2012-09-02 17:06] #7 closed, assigned to avsm

[2012-09-02 17:06] #8 closed, assigned to avsm

[2012-09-02 17:06] #9 closed, assigned to avsm

[2012-09-02 17:06] #10 closed, assigned to avsm

[2013-04-04 17:16] avsm opened #12 "null fields sent in some cases"
from @dsheets:

[code]

I believe we should use `?foo : string option` in this case, so we may need to modify the ATD descriptions appropriately to avoid sending nulls

[2013-04-10 21:22] #12 closed, assigned to nobody

[2013-05-07 10:56] jeromemaloberti opened #20 "Respectfully requesting a new release in opam."
Hi, my program prduplicate doesn't work anymore with the current release of ocaml-github in opam (I get an authentication problem, it cannot get a token). It does work however with the github version (together with the github version of cohttp). So, could you please make a new release soon ?
Furthermore, once the new release done, I will be able to eradicate the ugly fork github-prdup that I'm usi

[2013-05-10 23:43] #20 closed, assigned to nobody

[2013-11-13 01:56] technomancy opened #23 "Request logging apparently cannot be disabled"
It looks like `github.ml` has some `Printf.eprintf` calls hard-coded in.

[2013-11-13 01:58] technomancy opened #24 "No pagination"
It looks like (at least requests for issues) only give the first 30; there doesn't seem to be a way to request subsequent pages.

[2013-11-15 19:53] #24 closed, assigned to nobody

[2014-01-03 22:37] #23 closed, assigned to nobody

[2014-01-28 16:26] gasche opened #31 "in pull requests, `body` can be null"
https://api.github.com/repos/ocaml/opam/pulls/1138

[2014-03-02 18:58] #31 closed, assigned to nobody

[2014-09-03 23:16] andrewray opened #35 "Github.Token.get_all not working properly in git-jar"
A slightly modified output gives

[code]

The two bits of json I added to log the output of `(Github_j.string_of_auths auths)` and a copy of `Github.Token.get_all` which returns the json string directly without calling `Github_j.auths_of_string`.

It seems the correct message is recieved from github but somehow `Github_j.auths_of_string` is mangling it and repeating the 1st record 3 times.  Here's

[2014-09-17 13:56] #35 closed, assigned to nobody

[2014-11-03 10:10] niksu opened #37 "build problem"
Running make after cloning the repo gives:

$ make
ocamlopt.opt -o setup.bin setup.ml || ocamlopt -o setup.bin setup.ml || ocamlc -o setup.bin setup.ml
rm -f setup.cmx setup.cmi setup.o setup.cmo
./setup.bin -configure --prefix /usr/local
ocamlfind: Package `cohttp.js' not found
W: Field 'pkg_cohttp_js' is not set: Command ''/Users/nik/.opam/4.01.0/bin/ocamlfind' query -format %d cohttp.js > '/var

[2014-11-03 11:51] #37 closed, assigned to nobody

[2014-11-03 14:46] talex5 opened #38 "Not clear how to use git-upload-release with 2-factor auth"
Running `git-upload-release` gives:

    $ git-upload-release --help
    Use git-jar to create an `infra` cookie first.

I tried:

    $ git jar show talex5
    Enter Github password: ...
    git-jar: internal error, uncaught exception:
             Failure("HTTP Error 401 Unauthorized\naccess-control-allow-credentials: true\r\n\naccess-control-allow-origin: *\r\n\naccess-control-expose-headers: E

[2014-11-12 13:38] niksu opened #40 "using tokens (from cookie jar) to perform git operations (e.g., push)"
is it possible to use tokens (from cookie jar) to perform git operations -- such as pushing to a (github) repository? or is the use of tokens currently restricted to github-only operations (e.g., creating an issue, PR, etc)

[2014-11-25 05:02] hammer opened #42 "Why have both forks and forks_count/watchers and watchers_count in Github.Repo.info?"
Are they reporting the same information?

[2014-11-26 01:03] hammer opened #43 "Add types for organization and team"
- [organizations](https://developer.github.com/v3/orgs/#get-an-organization)
- [teams](https://developer.github.com/v3/orgs/teams/#get-team)

[2014-12-10 07:20] laheadle opened #46 "Implement Pagination"
The Github API returns links to the next page of a set of resources using the [Link Header](https://developer.github.com/v3/#pagination). The docs warn against manually building next-page URI's by inserting "page" parameters. But ocaml-github does not follow this advice. For example:

     let repos ~user ?(page=1) () =
        let uri = URI.user_repos ~user in
        let params = ["page",string_

[2014-12-18 18:27] #43 closed, assigned to nobody

[2015-01-22 14:30] amirmc opened #47 "FYI: Upcoming GitHub API changes"
*received via email - not sure if this affects anything*

****

#### Breaking changes to some Organizations APIs coming in five weeks (February 24)

If your application uses any of the following APIs, then you are affected by this change:

- APIs for managing your organization's admins through the Owners team
- The List your repositories API
- The List your organizations API
- The List user organi

[2015-01-22 14:36] dsheets commented on #47
Where's the recent announcement? The blog is silent on this and they won't let me be in the developers' program without paying them.

[2015-01-22 15:19] amirmc commented on #47
I've forwarded you the email (was to much effort to copy paste all the links here).  One of the early links points to: https://developer.github.com/changes/2015-01-19-an-integrators-guide-to-organization-application-policies/  (though I've not read anything closely)

[2015-03-10 08:49] michipili opened #49 "Retrieving issues always filter by milestone"
I tried the API to fetch issues from a project and remarked a small issue concerning issues without a milestone attached, which are not returned by a request with no milestone filter attached as in
`Github.Issue.for_repo ~token ~state:`Open ~user ~repo ()`.

I prepared a small program demonstrating the issue, see below. When running this program with `GITHUB_DEBUG=1` we see that final request cont

[2015-03-10 09:02] michipili opened #50 "Issue do not have any date attached"
The type `Github_t.issue` does not have any date field, but the Github API returns three dates or date options attached to each issue. These look like:

[code]

It would be great to have access to this information, even in the simple form of `bytes` or `bytes` option. Is there any plan to add these? Maybe I could help here but I would probably need a kind of mentorship.

----
I used the following

[2015-03-11 21:11] michipili opened #54 "Building on Travis always fails for opam 1.1.0"
We have this error message

[code]

It seems that the file format changed from 1.1.0 to 1.2.0 in and that packages found in the repository are not compatible with 1.1.0. We should remove spam 1.1.0 from the integration script.

[2015-03-12 09:36] avsm commented on #54
Yep, this needs to be fixed by using the centrally sourced Travis scripts from http://github.com/ocaml/ocaml-travisci-skeleton

[2015-03-12 13:14] michipili commented on #54
Okay, I will take a look at that. Otherwise, CI is not *that* useful. :D

[2015-03-12 13:40] avsm commented on #54
indeed!  OPAM 1.1 work if you do "opam init && opam update" as there is a rewrite in place, but we only really test with OPAM 1.2 these days, which the central skeleton scripts take care of.

[2015-03-12 15:19] michipili commented on #54
Just to be sure, should OPAM 1.1 be tested in CI or should it be removed?

[2015-03-16 05:42] michipili commented on #38
I had the same issue. As a workaround I manually generated an authentication token and wrote a small program to put it in the jar:

[code]

It seems that most of the fields in the `auth` structure are informational, the first time I used this, I only filled in the `AUTHENTICATION-TOKEN` and the `AUTH-SCOPES`.

You can generate such a token by visiting your *Personal Settings* and then the *Applica

[2015-03-18 19:52] samoht opened #56 "Missing search API"
Would be cool to be able to run search commands through the command-line, using https://developer.github.com/v3/search/

bonus points if you can specify the search parameters for the language type easily.

[2015-04-02 14:51] dsheets commented on #50
It looks like #51 exposed dates as strings so this particular issue can be closed. Perhaps users should be directed to <https://github.com/sagotch/ISO8601.ml> for parsing? Or maybe we should depend on that? Feel free to open a new issue regarding date parsing.

[2015-04-02 17:15] dsheets opened #57 "Release 1.0.0"
This is my working checklist for tasks to complete before we ship 1.0.0.

Features:
- [x] Implement repository search API (#56)
- [x] Support stream polling
- [x] Support rate-limiting and quota queries
- [x] Distinguish between pull requests and issues (#60)
- [x] Support listing issues regardless of their state (#59)

Tasks:
- [x] Paginate correctly (#46)
- [x] Check all interfaces for consisten

[2015-04-02 17:16] avsm commented on #57
- [ ] Take maintainer :)

[2015-04-02 17:16] avsm commented on #57
A simple test case for the JavaScript version would be useful, although perhaps not entirely related.

[2015-04-02 17:18] dsheets commented on #57
- [ ] A simple test case for the JavaScript version would be useful, although perhaps not entirely related.

[2015-04-02 22:42] samoht commented on #56
My (very specific) use-case: in https://github.com/github/linguist/pull/2270 someone wanted all the repositories containing the word "OCaml" but categorised as developed using Standard ML as a CSV file. Would be nice to be able to do this in a few lines with a small script using `ocaml-github`.

[2015-04-04 08:54] michipili commented on #54
It seems we can close this issue now.

[2015-04-04 08:54] #54 closed

[2015-04-04 09:06] michipili commented on #50
Sorting and printing can be accomplished on the textual representation for dates and if we parse dates, there is no clear canonical representation of dates we should pick. I think we should not add a dependency which would not make sense for all the users. Users may want to use Unix times, floats or types defined by the excellent calendar library by Julien Signoles.

If we were to provide parsing,

[2015-04-04 09:06] #50 closed

[2015-04-04 09:08] michipili commented on #49
Fixed in a6c23a9.

[2015-04-04 09:08] #49 closed

[2015-04-04 09:36] michipili opened #59 "Support listing issues regardless of their state"
We currently only can fetch issues being closed or open but the GitHub API also supports retrieving issues regardless of their status, using the `all` filter:

See https://developer.github.com/v3/issues/#list-issues-for-a-repository esp.

    state	string	Indicates the state of the issues to return. Can be either open, closed,
                    or all. Default: open

The type `Github.Filter.stat

[2015-04-04 10:17] michipili opened #60 "Distinguish between pull requests and issues"
The issues endpoint returns issues pointing to a pull-request. They are identified by a *pull request* key and it would be great to this key in our API!

[2015-04-04 10:17] michipili commented on #57
Maybe #59 and #60?

[2015-04-07 09:20] dsheets commented on #57
Great issues! I've added them to the list and will fix them today.

[2015-04-07 09:21] dsheets commented on #57
Oops. I see you've already fixed #59 with #62.

[2015-04-08 14:52] dsheets commented on #56
There are 4 search API endpoints for repositories, code, issues, and users. I've implemented the repository search endpoint (b6e1a31) and can run queries like the one you require using a command-line tool that's in development and will be pushed shortly.

I will leave the remaining 3 endpoints for future work. If you'd like to track their implementation, please open new issues regarding those API

[2015-04-08 15:31] dsheets commented on #56
https://github.com/github/linguist/issues/2208#issuecomment-90951288 contains the current query as run from 1a39617.

[2015-04-08 16:01] samoht commented on #56
sweet, thanks!

[2015-04-08 16:01] samoht commented on #56
That sounds good, thanks for looking into this.

[2015-04-17 10:55] dsheets commented on #57
@avsm could you review/merge #58 and then transfer this repository to an organization, give me admin rights, or both?

[2015-04-17 10:55] avsm commented on #57
yep

[2015-04-18 16:28] #38 closed

[2015-04-18 16:28] #42 closed

[2015-04-18 16:28] #56 closed

[2015-04-18 16:28] #59 closed

[2015-04-18 16:28] #60 closed

[2015-04-26 14:22] dsheets commented on #47
These are all semantic changes that this library's consumers would have to adjust to. I don't see any changes that modify the endpoints, types, conventions, etc. This issue can be closed.

[2015-04-26 17:06] #47 closed

[2015-04-26 19:07] #46 closed

[2015-04-26 19:16] avsm commented on #57
Repository transfer to mirage/ has now been executed.

[2015-04-27 07:13] michipili commented on #57
@avsm What are the concrete consequences for contributors? It looks like issues etc. followed, so am I right thinking I should only update the `remote` references in my local clones?

[2015-04-27 07:28] avsm commented on #57
@michipili that's right -- all state has just shifted over to `mirage/ocaml-github`, and I've reforked my personal repo from that.  The new org means that we can have more maintainers like @dsheets now, and not block on me.  Let me know if you run into any other issues with the shift!

[2015-04-27 15:26] michipili commented on #57
@avsm Everything looks great, thanks! :)

[2015-05-21 21:13] dsheets opened #78 "User/contributor feedback before 1.0.0 release"
I would really appreciate it if the users and contributors to this library could review the [master branch](https://github.com/mirage/ocaml-github), especially the 200 lines of [CHANGES](https://github.com/mirage/ocaml-github/blob/master/CHANGES) for 1.0.0, and let me know their opinions of the new features and (many) breaking changes. Silence will be considered assent. I would appreciate any resp

[2015-05-21 21:17] dsheets commented on #78
One other thing: I've been using #57 to track the changes on the road to 1.0. The only remaining tasks are:

* a complete name, behavior, and organizational consistency check of the module interfaces and the GitHub JSON data type interfaces
* a simple JavaScript test case

I would appreciate it if people report consistency flaws if they see any and I would very much appreciate any JavaScript testi

[2015-05-21 21:23] dsheets opened #79 "Remove CL.Response references"
mirage/ocaml-cohttp#349 will probably remove them.

[2015-05-21 22:09] andrewray commented on #78
I have a javascript iocaml notebook testing the gist stuff.  I'll see if I can dig it out tomorrow and update it for the latest api.

[2015-05-22 08:52] michipili commented on #78
Great to read this @dsheets!  Hopefully I will take some time on the weekend to give a look at the upcoming version!

[2015-05-27 10:11] #79 closed

[2015-05-28 21:28] dsheets commented on #57
All checklist tasks have now been completed. After #82 is merged, I will release 1.0.0.

[2015-05-28 21:28] dsheets commented on #78
After #82 is merged, 1.0.0 will be released.

[2015-06-01 14:53] #57 closed

[2015-06-01 14:53] #78 closed

[2015-06-01 15:44] dsheets opened #83 "Support check, reset, and fingerprint for tokens"
[Check](https://developer.github.com/v3/oauth_authorizations/#check-an-authorization) and
[reset](https://developer.github.com/v3/oauth_authorizations/#reset-an-authorization) would be useful for token manipulating applications now that the new token API limitations are in place. Also, exposure of the `fingerprint` property in the `Github_t.auth` type would be nice.

[2015-06-01 16:12] michipili commented on #57
Thanks for the great work @dsheets!

[2015-06-01 16:59] dsheets opened #84 "Rate limit tracking with multiple implicit tokens doesn't work"
Implicit tokens aren't taken into account when caching rate-limit data. They should be used if the explicit token parameter is missing rather than conflating multiple implicit tokens to `None` in the rate limit table.

[2015-06-01 19:57] dsheets opened #85 "Support HTTP redirects"
After July 20, GitHub will start issuing more redirects. See [the transition announcement](https://developer.github.com/changes/2015-04-17-preview-repository-redirects/).

They've described the [new redirect behavior](https://developer.github.com/changes/2015-04-17-preview-repository-redirects/) as well as [their interpretation of HTTP status codes](https://developer.github.com/v3/#http-redirects)

[2015-06-16 09:25] dsheets opened #86 "Support Statistics API"
See https://developer.github.com/v3/repos/statistics/ for @amirmc's project.
- [x] [Get contributors list with additions, deletions, and commit counts](https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts) (#114)
- [x] [Get the last year of commit activity data](https://developer.github.com/v3/repos/statistics/#get-the-last-year-of-comm

[2015-06-16 09:28] dsheets opened #87 "Add issue comment editing"
Used by <https://github.com/AltGr/opam-ci/blob/master/opam_ci.ml#L355>. See <https://developer.github.com/v3/issues/comments/#edit-a-comment>.

[2015-07-27 10:58] dsheets opened #88 "New Status context field"
The `new_status` type is missing a `context` field <https://developer.github.com/v3/repos/statuses/#create-a-status> which would allow users to set the label of the status in the GitHub web UI. This field was introduced during the recent multiple status improvement roll-out.

[2015-07-28 04:51] AltGr commented on #88
Well spotted, thanks!

[2015-09-07 06:35] michipili opened #89 "Cannot build against cohttp 0.19.1 with ocaml 4.02.3"
This morning, I failed to to build  **ocaml-github** with **opam** that gave up the ghost with:

[code]

My wild guess is that there is a version desync with *cohttp** – its current version is 0.19.1 on my system. Any thoughts on this?

[2015-09-07 12:05] avsm commented on #89
Are you trying to install the latest Github bindings (>=1.0.0)?  They were fixed to work with any Cohttp>=0.17.0.  Try "opam update" to get the latest.

[2015-09-07 12:18] michipili commented on #89
Github bindings were already 1.0.0 but after upgrading cohttp from 0.19.1 to 0.19.2. github binding can be installed again. Thanks!

[2015-09-07 12:18] #89 closed

[2015-09-08 10:36] avsm commented on #89
That does seem like a broken constraint then. I'll just restrict them to >=0.19.2

[2015-10-13 15:13] djs55 opened #90 "Error: Unbound module CL.Response"
My [travis job](https://travis-ci.org/avsm/opam-boot/jobs/85132446) hit this:

[code]

[2015-10-13 15:29] dsheets commented on #90
It's a constraint problem in the opam metadata. I'm on it.

[2015-10-13 15:50] dsheets commented on #90
Ah, you are using an old version of ocaml-github <https://github.com/avsm/opam-boot/blob/master/.travis-ci.sh#L28>. The metadata (and code) is fine.

[2015-10-13 15:50] #90 closed

[2015-10-13 15:52] djs55 commented on #90
Ah! avsm/ocaml-github indeed. Sorry for the noise!

On Tue, Oct 13, 2015 at 4:50 PM, David Sheets <notifications@github.com>
wrote:

--
Dave Scott

[2015-11-04 13:51] dinosaure commented on #40
Did you start doing it? I can allocate my time to take care of this part.

[2015-11-04 15:12] niksu commented on #40
I hadn't -- please go ahead but it's worth rechecking with any other interested parties in case they have any patches en route. I haven't been watching this space recently.

[2015-11-04 15:16] dsheets commented on #40
It would be great if you'd like to start on this, @dinosaure. It would be useful to look at the interfaces that [ocaml-git](https://github.com/mirage/ocaml-git) exposes and attempt to expose interfaces that are at least partially compatible with those.

[2015-11-04 15:32] dinosaure commented on #40
Ok ! I will start tomorrow this job. You can see my progress in a future PR.

[2015-11-16 10:06] dinosaure opened #92 "Root API"
May be it's useful if it's possible to change the URI of the root API (see [this line](https://github.com/mirage/ocaml-github/blob/master/lib/github_core.ml#L146)). But, I don't know if we use a functor or an optionnal argument.

[2015-11-16 15:23] dsheets commented on #92
What is the use case for changing the API base? Are there other possible endpoints? Other implementations? Does GitHub Enterprise do something?

[2015-11-17 09:28] dinosaure commented on #92
The use-case is specific for me, I try to reimplement a subset of github API in server side but this issue is not mandatory to continue my work.

[2016-01-21 15:48] yomimono opened #93 "use of Unix.getenv in lib/github_core.ml is not mirage-compatible"
There's [a single call to the Unix module in `lib/github_core.ml`](https://github.com/mirage/ocaml-github/blob/master/lib/github_core.ml#L26), the only thing which prevents use of these bindings in a Mirage unikernel.

[2016-03-10 14:48] smondet opened #94 "ocaml-github should depend on `ssl` or `tls`"
Right now it forces the openssl implementation:
https://github.com/mirage/ocaml-github/blob/master/opam#L30

[2016-03-10 14:49] avsm commented on #94
I'd prefer to force the TLS implementation instead now that it's been more fully tested.

[2016-03-22 19:36] #88 closed

[2016-03-28 22:12] rgrinberg opened #102 "JSON output for the various commands"
I think only the gist subcommand supports this but it would be nice if all the commands did.

[2016-03-31 14:16] samoht opened #104 "Remove camlp4"
Currently, `opam pin add github --dev` fails if you have `js_of_ocaml` installed:

[code]

Would be great to fix that by either adding an explicit dep to camlp4 in the `opam` file or to remove `camlp4` dependency (preferred fix)

[2016-03-31 14:22] rgrinberg commented on #104
Whoops this is my fault. I will fix this soon if nobody does it.

But I'm curious as to why the tests are even being compiled here.

[2016-03-31 14:27] samoht commented on #104
That's a good question. Would be great to fix that as well while you are at it :-)

[2016-04-01 17:40] samoht opened #107 "Event.for_repo_issues is broken"
While testing the `Event` API I got:

[code]

I'll try to find a repro.

[2016-04-01 18:13] dsheets commented on #107
Possibly due to #85.

[2016-04-04 03:59] rgrinberg opened #109 "Move from atdgen to ppx_deriving_yojson"
Or to jsont if it ever gets released. My main motivation for this is to add the common deriving converters to the type definitions like sexp.

[2016-04-04 09:35] dsheets commented on #109
We need support for something like atdgen's `tag_field` which is request in https://github.com/whitequark/ppx_deriving_yojson/issues/27 and looked like it was rejected for a time.

If we want to use `jsont`, we need a staging solution.

[2016-04-04 16:02] rgrinberg commented on #109
This may be useful as a transitional https://github.com/mjambon/atdgen/pull/44 tool

[2016-04-05 19:22] samoht commented on #107
So the issue is that `Repo.for_repo_issues` is broken. `Repo.for_repo` just works (but has annoyingly more events).

[2016-04-12 10:48] dbuenzli commented on #109
It will be.

@dsheets What do you mean by this ?

FWIW I'm interacting with GitHub's API at the moment but it's out of question to have the insane dependency cone of ocaml-github (see the daunting output of `opam list --rec --required-by github`) in my software. Especially I do not use anything that breaks with every major OCaml release as it's a waste of everybody's time (most people using ppx on

[2016-04-12 13:56] avsm commented on #109
On 12 Apr 2016, at 11:48, Daniel Bünzli <notifications@github.com> wrote:

Yes, this is my preferred solution also.  A dependency-free (aside from jsont) library of the API itself would be nice to have.

[2016-04-12 14:42] rgrinberg commented on #109
This would not really satisfy me as a user. Sexp converters are a very useful debugging tool for me with concrete benefits. The fruits of a well pruned dependency tree on the other hand are harder to imagine.

Why stop there? Let's make a library with just the types and jsont can be added on top (in a separate project too!). I'm sure we can find someone out there who will complain about that depen

[2016-04-12 14:48] avsm commented on #109
this doesn't seem to be incompatible with having sexps -- I'm just thinking of replacing the atd description of the API with jsont and making that a separate package.  We could do the same thing for just the ATD spec (in a similar manner to wire format descriptions in cstruct/mirage).

I think it's possible to do this in a single repo these days by using an `opam.<pkg>/` directory in the root, but

[2016-04-12 15:06] dbuenzli commented on #109
If debugging is the only reason, formatters can do the job. If you really insist on sexps then you don't need to generate them, a codec function for a datatype should be only a few typed indexed combinators away.

I hope you had a look at the result of the invocation I mentioned earlier. I'm not sure why I have to depend on `shared-memory-ring` if I want to interact with github using curl the tool

[2016-04-12 15:22] avsm commented on #109
In my book, that is called a bug, and can be fixed like one if you create an issue about it.  We just need to rearrange the opam packages so that they follow the same dependency cone as the modules contained within the various ocamlfind packages.  At a guess, your OPAM invocation is probably resolving depopts as well with the `--rec` (and so pulling in the full suite of `conduit` dependencies).  s

[2016-04-12 15:34] dbuenzli commented on #109
Can I re-use `ocaml-github`'s codecs in the browser with  `js_of_ocaml` ? Given the list you output, I have my doubts. Sorry, I just have a different notion of what writing composable software means.

[2016-04-12 15:36] rgrinberg commented on #109
So we can at least agree that sexps solve real problems.

* Don't have to write any code to pretty print for debugging. "A few typed indexed combinators away" is still an annoying distraction to me when I'm debugging
* sexp functions can be selected with quotations `[%sexp_of: typ]`

Formatters are fine for debugging too, [because I can also generate them](https://github.com/whitequark/ppx_derivin

[2016-04-12 15:39] rgrinberg commented on #109
Maybe if jsont was released that would be done already. I'd much rather work on that on dependency minimization crusades that I will have to undo in my own software anyway.

[2016-04-12 15:40] avsm commented on #109
https://github.com/mirage/ocaml-github/tree/master/js

To reiterate: the `opam` package list *does not reflect the actual OCaml dependencies* for a particular slice of functionality until we harmonise the state of `opam` vs `ocamlfind` vs `oasis`.  For a JavaScript backend, the functor application is:

[code]

[2016-04-12 16:05] dbuenzli commented on #109
These of course should be written by the library author.

There are many (I won't talk about the lack of compositionality), but from an eco-system perspective, I don't think people fully grasp the hidden costs of `ppx`s, which trickle down to the OCaml system itself. I bet the 4.03 betas didn't get as much testing as needed because many things could simply not compile there because they were using

[2016-05-04 17:22] dsheets opened #112 "Bind contributors API"
See rudenoise/mirage-dashboard#4.

[2016-05-05 13:15] rudenoise opened #113 "Github.Repo.get_tags_and_times doesn't handle repos with no tags"
I'm using Github.Repo.get_tags_and_times in mirage-dashboard https://github.com/rudenoise/mirage-dashboard/blob/tags/src/get_releases.ml#L66

The function returns fine for repositories that have tags:
https://api.github.com/repos/mirage/mirage/tags

But fails for those without, as the endpoint returns 404:
https://api.github.com/rudenoise/mirage-dashboard/mirage/tags

Happy to provide more detail

[2016-05-24 15:49] dsheets commented on #104
This was fixed in #106.

[2016-05-24 15:49] #104 closed

[2016-05-24 16:30] dsheets commented on #112
The binding in #114 is for the contributor statistics API. I have made a checklist in #86 and checked this off, though the binding is not complete.

[2016-05-25 13:17] dsheets opened #119 "Check empty stream endpoints for 404 compatibility"
#113 points out that some stream endpoints can be empty and, when they are, the API returns 404. We should check the various stream endpoints for this behavior (or find reference in GitHub's docs about it) and then handle it appropriately.

[2016-05-25 14:56] dsheets opened #121 "Add anonymous contributor listing capability"
The repository (not repository statistics) contributors API endpoint takes an `anon` parameter to include 'anonymous' contributors (those that GitHub can't link with a username) in the stream. We can't enable this parameter because it includes structures in the stream which differ based on their `type` field (`User` vs `Anonymous`). We require atdgen support for something like `tag_field` inside o

[2016-05-25 15:03] #113 closed

[2016-05-25 15:21] dsheets commented on #107
The [docs say](https://developer.github.com/v3/activity/events/#list-issue-events-for-a-repository):

I clearly wasn't paying attention when I bound this one...

[2016-05-31 19:48] #93 closed

[2016-07-20 10:36] #112 closed

[2016-07-22 16:21] dbuenzli opened #127 "Install issue on osx in 4.03 switch"
Compilation seems to hang on:

[code]

[2016-07-22 16:26] dbuenzli commented on #127
Here's what was reported when I killed the thing:
[code]

[2016-07-22 18:53] avsm commented on #127
Hm, memory problems?

[2016-07-22 19:52] dbuenzli commented on #127
WDYM ? This is on my usual machine (also it seems to be tests why does the package them ?).

[2016-07-22 19:58] rgrinberg commented on #127
Could it be an old version? I remember fixing the test building issue. I just checked master again and no tests are built.

[2016-07-22 20:06] dbuenzli commented on #127
No this happens while trying to install `1.0.0`.

[2016-07-22 20:13] rgrinberg commented on #127
Actually, looks like my commit didn't make it into `1.0.0`:

https://github.com/mirage/ocaml-github/commit/5eb03f90a819e1cf21a0295a82c3cb19cff35cb5

Would you mind pinning master and reporting the result?

[2016-07-23 02:19] dbuenzli commented on #127
That worked.

[2016-07-25 23:06] juanchanco commented on #127
For the record, I was getting the same issue on debian and netbsd. The problem seems to be when js_of_ocaml is installed. Running `opam install github -v` I see the build hang at:

`ocamlfind ocamlc -c -g -annot -bin-annot -principal -strict-sequence -I lib -I unix -I js -package atdgen -package bytes -package cmdliner -package cohttp -package cohttp.js -package cohttp.lwt -package cohttp.lwt-core

[2016-07-28 15:15] yomimono commented on #94
The `ssl` package is currently hosted on sourceforge and is unavailable more frequently than I'd like.  It would be very nice if someone had time to take a run at removing the dependency here.

[2016-07-28 15:48] avsm commented on #94
There are two open PRs on this that are currently causing carnage in DataKit since they have the same commit id ;-) #101 and #108. Just fixing the DataKit thing first and then will merge the actual PR.

[2016-08-11 15:33] dbuenzli commented on #127
Would it be possible to make a release to fix this ? It has been twenty days and you are a dependency of `opam-submit`. This affects anyone wanting to publish OPAM packages using this tool.

[2016-08-11 15:40] dsheets commented on #127
Is this not fixed in 1.1.0?

[2016-08-11 15:44] dbuenzli commented on #127
Ah yes sorry got caught again about unpinning resulting in the installation of the previous version. Btw. it's also a good idea to close issues once they are resolved.

[2016-08-11 15:44] #127 closed

[2016-09-02 10:24] samoht opened #131 "invalid hook parsing"
[code]

leads to:

[code]

[2016-09-02 12:01] #131 closed

[2016-09-03 17:37] avsm opened #136 "parsing error on push webhook"
[code]

[2016-09-15 07:56] hannesm opened #139 "port to graphql!?!"
http://githubengineering.com/the-github-graphql-api/ -- fewer data transferred than using the REST API

[2016-09-15 09:52] dsheets commented on #139
And finally real, GitHub-provided types! I'm investigating this now (but it will likely be some time before it leaves Early Access). In the mean time, we'll have 1.2 and maybe 1.3 but we should start building the infrastructure for 2.0.

[2016-09-15 09:54] avsm commented on #139
I'm crying tears of typing joy

[2016-09-15 13:31] djs55 opened #140 "function to fetch an issue given its number?"
I'd like to write a tool which can read the body of an issue, given the number from the command line. I can get a stream of issue comments given a number, but I can't seem to get the issue itself (without iterating through all the issues in the repo and filtering on the client side).

[2016-09-16 13:23] #140 closed

[2016-09-19 16:38] dsheets commented on #94
This was resolved in #101 and will appear in 1.2.

[2016-09-19 16:38] #94 closed

[2016-09-19 16:41] dsheets commented on #102
Do you want raw JSON from the wire or would a reserialization suffice?

[2016-09-19 16:46] rgrinberg commented on #102
Reserialization should be fine. As long as the differences don't affect
semantics. E.g. formatting or key order

On Mon, Sep 19, 2016, 12:41 PM David Sheets <notifications@github.com>
wrote:

[2016-09-19 16:49] dsheets commented on #102
Ah, I think it won't work then because we only guarantee to parse a subset of the API so unknown fields, etc would be dropped. What is your use case?

[2016-09-19 16:57] #136 closed

[2016-09-19 18:43] #107 closed

[2016-09-19 22:49] rgrinberg commented on #102
My main use case is ad hoc scripts coupled with jq. I could see this perhaps
being useful when debugging.

On 09/19, David Sheets wrote:

[2016-09-20 11:17] #85 closed

[2016-09-20 20:13] #87 closed

[2016-09-21 17:29] dsheets opened #166 "Update gh-pages API docs"

[2016-09-26 10:56] dsheets opened #168 "Provide future-proof record constructors"
Either default records (less control) or constructor functions (more control) would allow users to write future-proofed code that creates GitHub record types. This would let us move the GitHub record types off the breaking change list. See OCamlPro/opam-publish#45 for the original suggestion by @AltGr.

[2016-09-26 17:55] dsheets opened #170 "Add Lwt.catch equivalent to Github monad"
Without an `Lwt.catch` equivalent, it is difficult to debug exceptions that occur in the Github monad while maintaining the monad state (caches, rate limits, tokens).

[2016-10-28 12:43] dsheets opened #172 "git jar should allow alternate GitHub token names"
I thought this was currently supported but I can't find a way to have the name that GitHub uses for a token differ from the local cookie name. This should be possible so that users can keep different tokens on different machines with different names on GitHub but the same name locally to match the expected token name by GitHub-manipulating programs.

[2016-11-26 16:54] dsheets commented on #119
This should really apply to all endpoints that can result in 404 because the object is missing or inaccessible. The functions which bind these endpoints should return an option or an `'a result`.

[2016-12-08 09:57] #170 closed

[2017-01-06 16:38] dsheets opened #184 "Add maintainer_can_modify field to PR creation"
There is now a `maintainer_can_modify` field in a PR creation request. This is necessary to complete ocaml/opam-publish#44.

[2017-01-06 16:45] yallop commented on #184
It'll be useful to have this, but maintainer modifications appear to be on by default, which makes it slightly less urgent.

[2017-01-06 16:52] dsheets commented on #184
Interesting... that appears to also have changed. Is there more work needed to close ocaml/opam-publish#44, then?

[2017-01-06 16:55] yallop commented on #184
There's no more work needed, so I've closed the issue.

[2017-02-14 12:18] talex5 opened #185 "Add support for GitHub Integrations"
Not out of beta yet, but would be great to have support for this:

https://developer.github.com/changes/2016-09-14-Integrations-Early-Access/

For DataKitCI, we'd like to be able to:
- Clone/pull from the repository.
- Set statuses on commits.
- Be notified when PRs, refs or status change.
- Not have to register web-hooks individually on each repository we monitor.

Currently, we have to ask users

[2017-03-19 14:06] dsheets opened #189 "Add webhook pings"
We don't support the Ping event and we should. Also, the new organization webhooks have a test function but the GitHub API has no such thing.

[2017-03-22 12:16] yallop opened #191 "Add support for the integration API"
It's currently in preview stage: https://developer.github.com/v3/integrations/

[2017-03-22 12:17] #191 closed

[2017-03-22 12:17] dsheets commented on #191
This is a duplicate of #185. Please thumb up that issue to demonstrate your undying support for this glorious feature (or, submit a PR).

[2017-04-18 12:38] talex5 opened #195 "Poor error if chmod fails"
I tried providing my github cookie as a Docker secret. Docker makes it appear inside the container as a world-readable file at `/run/secrets/cookie`.

It appears that ocaml-github checks the permissions, tries to chmod it (!), fails, throws away the error, and reports that the token doesn't exist. Quite confusing...

I guess this is the problem line: https://github.com/mirage/ocaml-github/blob/ef5

[2017-05-09 10:13] avsm commented on #195
odd, why is it trying to chmod it...?

[2017-05-09 10:15] dsheets commented on #195
It tries to chmod it to prevent overly readable secrets. In a past version, the default was world-readable secrets. The error behavior should definitely be different. PRs welcome.

[2017-05-09 10:17] avsm commented on #195
Ah yes when I wrote the original jar I didn't set a umask on file creation -- thanks for clarifying!

[2017-05-10 15:20] toolslive opened #197 "EPIPE when uploading asset"
I tried
[code]
(I had to look in the code to see how to force it not to use the `infra` cookie)
The output of `uploading to release id ....` shows that it gets a token and can find the specific release of the project from the tag.
The upload of the asset however, fails.

This was installed via opam (`version:2.3.0`)

[2017-05-10 15:29] dsheets commented on #197
Thanks for your report! How big is `xxx.deb`?

[2017-05-10 15:34] dsheets commented on #197
If you could also try with `GITHUB_DEBUG=1` and `COHTTP_DEBUG=1` that may be helpful. If you post the results back here, be sure to redact any github tokens or other sensitive info that the logs may contain.

[2017-05-10 15:47] toolslive commented on #197
`xxx.deb` is 22MB (22424088 bytes)
If I add both env vars, it will spit out 22MB of logs.
the relevant piece seems to be this:
[code]

[2017-05-22 13:28] yallop commented on #139
The GraphQL API is out of Early Access: https://github.com/blog/2359-introducing-github-marketplace-and-more-tools-to-customize-your-workflow

[2017-05-26 16:27] avsm commented on #139
GraphQL server in OCaml: https://discuss.ocaml.org/t/ann-graphql-0-1-0/282

[2017-07-12 20:39] andreas commented on #139
I have something working now, which may be of interest: https://github.com/andreas/ocaml-graphql-server/pull/56

I would be happy to hear if you have any thoughts on how `graphql-ppx` could work with `ocaml-github`, or if you have any particular requirements.

[2017-07-13 20:45] andreas commented on #139
Here's a simple example of how it could work with `Lwt`, `Cohttp` and Github GraphQL API: [`github.ml`](https://github.com/andreas/ocaml-graphql-server/blob/ppx/graphql-ppx/examples/github.ml).

If you check out the branch locally, you can build with `jbuilder build graphql-ppx/examples/github.exe` and run with `GITHUB_TOKEN=xyz ./_build/default/graphql-ppx/examples/github.exe`.

[2018-02-01 21:26] shinzui commented on #139
@andreas did you delete the github example?

[2018-02-01 21:31] andreas commented on #139
It's available here: https://github.com/andreas/ppx_graphql/blob/master/examples/github.ml

[2018-04-06 20:17] yomimono commented on #40
@dinosaure Does this work now?  (And I think the issue belongs in ocaml-git probably?)

[2019-04-10 10:53] dra27 opened #220 "Cross-references in code"
Various places in doc comments where a cross-reference is embedded in code (e.g. `Monad.(>>=)`). It's a little ugly, but the cross-reference has to be hoisted out of the code block (cf. `Monad.map`).

[2019-06-03 14:15] Aaylor opened #223 "Problem while parsing event hook metadata"
While receiving data from the GitHub event `push`, we encounter two problems
during the parsing of the event metadata.

# Type problem while parsing the object `repository`

There is an inconsistency coming from GitHub for two specifics fields:
`pushed_at` and `created_at`. The push event always sends the fields `pushed_at`
and `created_at` as integers (EPOCH), instead of string values as expected

[2020-02-07 17:32] rjbou opened #231 "Authentication: `access_token` query parameter deprecated"
Since 11/2019, `access_token` query parameter is [deprecated](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters).
As it is used in opam-publish, it results on mail from github
[code]

Related issue ocaml/opam-publish#97

[2020-02-07 17:54] avsm commented on #231
fixed in #230, just releasing a new version now

[2020-02-07 18:18] rjbou commented on #231
Thanks!

[2020-02-07 18:18] #231 closed

[2020-04-23 05:44] XVilka commented on #185
Just for the record - Integrations were deprecated. Now the recommended way is to create applications using the GitHub v4 API (GraphQL). See more at:
- https://developer.github.com/v4/
- https://graphql.org/
- https://developer.github.com/marketplace/getting-started/
- https://developer.github.com/v4/guides/migrating-from-rest/

It will require GraphQL library, e.g. [graphql](https://opam.ocaml.or

[2020-04-23 05:47] XVilka commented on #139
A lot has changed since and the v3 API is getting slowly deprecated, the transition is imminent, see more at:
- https://developer.github.com/v4/
- https://graphql.org/
- https://developer.github.com/marketplace/getting-started/
- https://developer.github.com/v4/guides/migrating-from-rest/

It will require [GraphQL library](https://opam.ocaml.org/packages/graphql/) by @andreas. See its repository a

[2020-04-23 11:40] andreas commented on #139
Actually the GraphQL PPX I mentioned above is no longer available in `ocaml-graphql-server` -- the library is now solely for writing GraphQL servers, not clients 🙂

The most mature GraphQL PPX library is currently [`reasonml-community/graphql_ppx`](https://github.com/reasonml-community/graphql_ppx), though it's not getting a lot of love in terms of OCaml/OPAM.

[2020-06-19 13:12] emillon opened #233 "Monad.run prints to stderr in case of error"
Hi,

I was trying to catch errors from `Monad.run` but it seems that in addition to returning the error, it always prints it to stderr:

https://github.com/mirage/ocaml-github/blob/ec6a253166307ce45cd86b065a1a00cf02136f04/lib/github_core.ml#L536-L537

A way to silence it (or remove it) would be great.

Thanks!

[2020-06-19 13:33] avsm commented on #223
Considering them optional sounds good to me... not much more we can do really if they vary.  PRs welcome for this (and indeed, would you like to get write access to the repository @Aaylor? You've been consistently submitting bug fixes here).

[2020-06-19 13:34] avsm commented on #233
Given the error is returned in the monad, there's no need to print it as well. A PR just removing it would be fine by me.

[2020-06-19 15:14] emillon commented on #233
Yes, that's what I thought. I'll do that.

[2020-06-24 12:35] Aaylor commented on #223
It's been a while since I checked if something changed here (even if I believe it did not change), but I'll take a look and apply patches for both problem.

Why not, having write access may allow to work on further improvement (we plan maybe to use more GitHub API features) quicker. In that case, should I continue working with PRs in order to get review (and merge them myself after review) ?

[2020-08-03 08:20] Zimmi48 commented on #139
@XVilka Contrary to what you are claiming the GitHub REST API (v3) is not at all getting deprecated. In issue ocaml-opam/opam-publish#97, the title is misleading, it's just the authentication method that is getting deprecated.

There isn't much point in porting the `ocaml-github` library to GraphQL IMHO because this library provides OCaml bindings to the REST API resources but, when you use GraphQ

[2020-08-03 10:16] roddyyaga commented on #139
The fix for that opam-publish issue was made in [this](https://github.com/mirage/ocaml-github/pull/230) PR, available in 4.3.0.

[2020-08-03 10:23] XVilka commented on #139
@roddyyaga it broke the authorization though, see:
- https://github.com/ocaml-opam/opam-publish/issues/99#issuecomment-596576051
- https://github.com/ocaml-opam/opam-publish/issues/104

Thus, current recommendation to use 4.2.0 instead.

[2020-08-18 13:04] #233 closed

[2020-08-25 13:49] emillon opened #237 "github-unix depends on lambda-term just for the executables"
Hi,

I'm using `github-unix` in a project with few dependencies, but I noticed that it pulls `lambda-term`.

After having a look, it seems that it's not used by the `github-unix` library itself, but by the executables built under `gist/` and `jar/` (that are attached to the `github-unix` package).

What do you think about adding a new package `github-unix-bin` (or `github-unix-tools`?) that just c

[2020-08-25 13:52] avsm commented on #237
It would be less churn to just snip the lambda term dependency; it's only for reading passwords https://github.com/mirage/ocaml-github/blob/master/jar/passwd.ml

[2020-08-25 13:53] avsm commented on #237
If you want a very quick workaround, you can just apply the core functor yourself very easily:

https://github.com/mirage/ocaml-github/blob/master/unix/github.ml

[2020-08-25 13:59] emillon commented on #237
Thanks for the workaround. It's not a hard blocker, but I found the dependency a bit strange.

I'm not sure there's an easy way to read a password without echo from the console without lambda-term. What do you suggest?

[2020-08-25 14:54] avsm commented on #237
What does dune-release do?

[2020-08-25 15:16] emillon commented on #237
[It calls `tcsetattr` by hand](https://github.com/ocamllabs/dune-release/blob/995bd1b3abc9ed54b1d9379f7046a23adb42e7d3/lib/stdext.ml#L37-L45). According to the docs, this is not implemented on windows so I suppose there's a local echo.

[2020-09-09 01:18] #237 closed

[2020-09-11 00:45] tmcgilchrist commented on #86
Think I've covered all these endpoints and this can be closed @Aaylor.

[2021-07-13 23:52] #86 closed

[2021-12-03 16:08] kit-ty-kate opened #259 "git-jar make is not able to create cookies anymore"
Trying to use `git-jar make <user> <cookie>` results in:
[code]
It looks like they removed this functionality from the rest api.

[2021-12-06 05:21] tmcgilchrist commented on #259
GitHub [deprecated](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#deprecating-and-adding-endpoints-for-the-oauth-authorizations-and-oauth-applications-apis) the endpoint `git-jar make` used. It needs to use a `Web application flow` with a local host redirect.

If that command is useful, we should make the required deprecations this library and update

[2021-12-15 09:43] TheLortex opened #260 "`github` transitively depends on `jsoo`"
I'm not familiar with the project but it looks like the `github` package has no reason to depend on `cohttp-lwt-jsoo`, but it does.

To me, the jsoo support only happens in `github-jsoo`, right ?

[2022-04-26 02:18] tmcgilchrist commented on #260
Resolved in 4.4.1 release. Thanks for the report @TheLortex

[2022-04-26 02:18] #260 closed

[2022-05-15 16:32] shonfeder opened #267 "Differentiate types for "Pull Request Simple" and "Pull Request" to support richer data in `Github_core.Pull.get`"
Currently, both [`Github_core.Pull.get`](https://github.com/mirage/ocaml-github/blob/91edfae6f63d9990e030013b0397012b8cbc6843/lib/github_core.ml#L1548-L1550) and [Gitub_core.Pull.for_repo](https://github.com/mirage/ocaml-github/blob/91edfae6f63d9990e030013b0397012b8cbc6843/lib/github_core.ml#L1541-L1546) both return values of [type pull](https://github.com/mirage/ocaml-github/blob/91edfae6f63d9990

[2022-06-01 04:38] tmcgilchrist commented on #267
@shonfeder backwards compatibility is important, I would pursue the first option of introducing a new type and follow that implementation.  Atd allows for inheriting properties from one type to another, which might be useful in this case.
eg https://github.com/mirage/ocaml-github/blob/master/lib_data/github.atd#L132-L135

[2022-10-25 16:14] cuihtlauac commented on #259
Have you been able to work around this issue?

[2022-11-09 22:19] bn-d opened #268 "Support GitHub Enterprise"
Currently the host and scheme is hard coded at

https://github.com/mirage/ocaml-github/blob/91edfae6f63d9990e030013b0397012b8cbc6843/lib/github_core.ml#L177

I would be great if we can add support for GitHub Enterprise.

i.e.
[code]